{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Vertical Layouts - Forms{% endblock %}

{% block page_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/demo.css' %}" />
{% endblock page_css %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Forms /</span> Vertical Layouts
</h4>

<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic with Icons</h5>
        <small class="text-muted float-end">Merged input group</small>
      </div>
      <div class="card-body">
        <form>
          {% csrf_token %}
          <div id="alertM"></div>
          <div style="display:none" id="print-div" class="row md-4">
            <div  class="col-md-4 ">
              <button id="print" class="btn btn-danger mb-3">Print</button>
            </div>
            <div  class="col-md-4 ">
              <button id="clear" class="btn btn-danger mb-3">Clear</button>
            </div>
          </div>
          <div class="whole">
            <div id="info_list" class="row  md-4">
              <div class="col-md-4 mb-3">
                <label class="form-label" for="basic-icon-default-company">Table No.</label>
                <div class="input-group input-group-merge">
                 <input disabled value="{{table_no}}" style="border-right: 1px solid #c7cdd4;border-radius: 0 10px 10px 0;" id="table" name="table"  type="text" class="form-control"  aria-label="john.doe" aria-describedby="basic-icon-default-email2" />
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label" for="basic-icon-default-email">Date</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                  <input style="border-right: 1px solid #c7cdd4;border-radius: 0 10px 10px 0;" id="date" name="date"  type="date" class="form-control" placeholder="QTy" aria-label="john.doe" aria-describedby="basic-icon-default-email2" />
                  <p id="error_date" style="color:red;position: absolute;margin-top: 40px;"><p>
                </div>
              </div>
            </div>


            <div id="head_sh" class="row">
              <div class="col-md-3">
                  <label class="form-label" for="basic-icon-default-email">Item</label>
              </div>
              <div class="col-md-3">
                <label class="form-label" for="basic-icon-default-email">QTY</label>
            </div>

            </div>
            <div class="header">

            </div>
            <div class="item-list">

            </div>





            <div style="display:none" class ="row" id="discount-add">
              <div class="row mb-3">
                <div class="col-md-4 mb-3">
                  <label class="form-label" for="basic-icon-default-company">Discount</label>
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-buildings"></i></span>
                    <input type="number" id="discount" class="form-control" placeholder="Price" aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" />
                    <p id="error_discount" style="color:red;position: absolute;margin-top: 40px;"><p>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-label" for="basic-icon-default-company">Type</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                    <select id="discount-type" class="form-control">
                      <option value="amount">Amount</option>
                      <option value="percentage">Percentage</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <button id="discount-confirm" class="btn btn-success" type="button">Confrim</button>
              </div>

            </div>

            <div class="row mb-3 mt-3" id="hide">
              <hr/>
              <div class="col-md-4 mb-3">
                <label class="form-label" for="basic-icon-default-fullname">Item Name</label>
                <div class="inut-group input-group-merge">

                  <select class="form-control select2" id="menu0">
                    {% for item in menu %}
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div style="display:none" class="col-md-4 mb-3">
                <label class="form-label" for="basic-icon-default-company">Price</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2"  class="input-group-text"><i class="bx bx-buildings"></i></span>
                  <input type="number" disabled  id="price0" class="form-control" placeholder="Price" aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" />
                </div>
              </div>

              <div class="col-md-2 mb-3">
                <label class="form-label" for="basic-icon-default-email">QTY</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-btn">
                    <button onclick="add_q('remove')" type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]" style="border-radius: 0px;width: 40px; margin-top: -6px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; height: 20px;">
                      <span class="glyphicon glyphicon-minus">-</span>
                    </button>
                  </span>
                  <input type="number" id="qty" class="form-control input-number" value="1" min="1" max="100" style="width: 55px; text-align:center; height: 20px; border-radius: 0px; border-left: none;">
                  <span class="input-group-btn">
                    <button onclick="add_q('add')" type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]" style="border-radius: 0px; width: 40px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; margin-top: -6px; height: 20px;">
                      <span class="glyphicon glyphicon-plus">+</span>
                    </button>
                  </span>
                  <p id="error_qty" style="color:red;position: absolute;margin-top: 40px;"><p>
                </div>
              </div>
            </div>

          </div>


            <div id="printT" style=" font-family: Arial, sans-serif;width: 350px;margin: 0 auto;text-align: center;" class="go">
              <img style="width:50%;  display: block;margin-left: auto;margin-right: auto;" src="{% static 'img/favicon/cafe_logo.png' %}"/>
              <h1 style="text-align: center; font-size: 24px;">{{cafe.name}}</h1>
              <p style="text-align: center;">M No. {{cafe.contact_no}}</p>
              <hr style="border: 1px solid #000;">
              <div class="bill-details" style="display: flex;justify-content: space-between">
                  <p style="margin: 5px 0;float:left;" id="date_i"></p>
                  <p style="margin: 5px 0;float:right;" id="time_i"></p>
              </div>
              <div id="table_nn"></div>
              <hr style="border: 1px solid #000;">
              <div style="display: flex;justify-content: space-between;width: 100%;" class="bill-details">
                <p style="float:left;flex: 1;">Name</p>
                <p style="margin-left:220px;flex: 1;">QTY</p>
              </div>
              <div id="detail_b" class="bill-details">
              </div>
              <hr style="border: 1px solid #000;">
              <p>Thank you for visiting!</p>
             </div>

          <div class="btn_list">
            <button id="add" type="button" class="btn btn-danger">Add</button>
            <button id="confirm" class="btn btn-success" type="button">Confirm</button>
            <button type="button" id="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block page_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.24/jspdf.plugin.autotable.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  const today = new Date().toISOString().split('T')[0];

  function formatDate(date) {
    let day = String(date.getDate()).padStart(2, '0');
    let month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
    let year = date.getFullYear();

    return `${day}/${month}/${year}`;
  }

  function formatTime(date) {
    let hours = String(date.getHours()).padStart(2, '0');
    let minutes = String(date.getMinutes()).padStart(2, '0');

    return `${hours}:${minutes}`;
  }


    // Set the input's value to today's date
    document.getElementById('date').value = today;
    $(document).ready(function() {
      $(".go").hide()
      $("#tax_name").val("{{tax_.name}}")
      $("#tax_value").val("{{tax_.tax}}")

      const check_result = (table, key, value,name) =>{
        console.log("kek",table)
        let table_n = localStorage.getItem(table);
        let current_val = JSON.parse(table_n)
        if(name !== null){
          if(key in current_val){
            current_val[key] = value
          }else{
            current_val[key] = value
          }
        }else{
          let nne = current_val

          if(table.includes("kot_")){
            if("item" in current_val){
              current_val["item"][key] = value
            }else{
              current_val["item"] = {
                  [key]: value
              };
            }
          }
        /*  if(!(table.includes("kot_"))){
          if("item" in current_val){
            console.log("go...",value)
            current_val["item"][key] = value
          }else{
            current_val["item"] = {
                [key]: value
            };
          }
        } */
      }
        let setI = JSON.stringify(current_val)
        localStorage.setItem(table,setI);
        //localStorage.setItem("{{table_no}}",setI)
      }

      const set_val = (table, key, value, name) =>{
        let dict
        if(name===null){
          dict = {
            "item": {
              [key]: value
            }
          };
        }else{
          dict = {}
          dict[`${key}`] = value
        }
        const dt = new Date();
        const formattedTimeT = formatTime(dt);
        dict["time"] = formattedTimeT
        console.log("go",dict)
        let setI = JSON.stringify(dict)
        localStorage.setItem(table,setI);
      }

      const set_local = (key, value, name=null) =>{
          console.log("key",key)
          let kot_ = `kot_{{table_no}}`

          console.log("kot",kot_)
          let table_n = localStorage.getItem(kot_);
          let table_d = localStorage.getItem("{{table_no}}");
          let table_n1 = kot_
          let table_d1 = "{{table_no}}"
          if(table_n){
            check_result(table_n1,key,value,name)
          }
         /* if(table_d){
            check_result(table_d1,key,value,name)
          } */
          if(!(table_n)){
            set_val(table_n1,key,value,name)
          }
          /*if(!(table_d)){
            set_val(table_d1,key,value,name)
          } */

      }

      console.log("check...")
        let total  = 0
        let items_list = {}
        let copy = {}
        let copy_ = {}
        let disc_am = 0
        let cust_type = "other"
        $("#select_regular").hide()
        const get_local = () =>{
          $("#other").prop("checked", true);
          let kot_ = `kot_{{table_no}}`
          if(localStorage.getItem(kot_)){
            let table_n = JSON.parse(localStorage.getItem(kot_))
            if(table_n["item"]){
            Object.keys(table_n["item"]).map((e)=>{
                  key_pat = table_n["item"][e]
                  console.log("kkk==>",key_pat,table_n )
                  $(".item-list").append(`
                  <hr/>
                  <div class="row mt-2" id=${e}_del>
                       <div class="col-md-3">
                           <p id=${e}>${key_pat["name"]}</p>
                       </div>
                        <div class="col-md-3 col-6" style="display: flex;">
                          <span class="input-group-btn">
                            <button onclick="add_rm('remove', ${e})" type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]" style="border-radius: 0px;width: 40px; margin-top: -6px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; height: 20px;">
                              <span class="glyphicon glyphicon-minus">-</span>
                            </button>
                          </span>
                          <input type="number" id="qty_val_${e}" class="form-control input-number" value="${key_pat["qty"]}" min="1" max="100" style="width: 55px; text-align:center; height: 20px; border-radius: 0px; border-left: none;">
                          <span class="input-group-btn">
                            <button onclick="add_rm('add', ${e})" type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]" style="border-radius: 0px; width: 40px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; margin-top: -6px; height: 20px;">
                              <span class="glyphicon glyphicon-plus">+</span>
                            </button>
                          </span>
                        </div>


                       <div  class="col-md-3 col-3">
                           <img style="width:20px;" class="delete-btn" onclick="myFunction(${e})" src="{% static 'img/favicon/delete.png' %}"/>
                       </div>

                   </div>`)
                   if(e in copy){
                    console.log("coppy",copy)
                    copy[e]["qty"] = key_pat["qty"]
                    copy[e]["price"] = key_pat["price"]
                    copy[e]["name"] = key_pat["name"]
                    total += parseFloat(key_pat["price"])
                   }else{
                    copy[e] = {"qty":key_pat["qty"],price:key_pat["price"],"name":key_pat["name"]}

                    total += parseFloat(key_pat["price"]) * parseFloat(key_pat["qty"])
                   }

                })
                console.log("total.1.", total)

                   let tax_c = parseFloat("{{tax_.tax}}")
                   console.log("good.",tax_c)
                    let tax_m = (tax_c/100) * total

                    let fin = total+= tax_m

              }
                if("custmore" in table_n){
                  if(table_n["custmore"]!=="other"){
                    $("#Reg").prop("checked", true);
                    $("#select_regular").show()
                  }
                }

                if("unpaid" in table_n){
                  $("#check").prop("checked", table_n["unpaid"]);
                }

                  if("regular_name" in table_n){
                    $("#regular_name").val(table_n["regular_name"])
                  }
                  if("regular_number" in table_n){
                    $("#regular_number").val(table_n["regular_number"])
                  }

                  console.log("total..",total)
        }
      }
        get_local()

        let selectedValue = "other"
        //$(".hide-think").hide()

        $("#check").change(function(){
          var isChecked = $("#check").is(":checked");
          set_local("unpaid",isChecked, true)
        })

        $(".customer-type").change(function(){


           // Get the value of the selected radio button
           selectedValue = $("input[name='inlineRadioOptions']:checked").val();
           console.log("Selected value: " + selectedValue);
           set_local("custmore",selectedValue,true)
           // Perform some action based on the selected value
           if (selectedValue === "regular") {
            $("#select_regular").show()
           // $(".hide-think").show()
            cust_type = 'regular'
            $("#regular_number").val("")
            $("#regular_name").val("")
            set_local("regular_name",$("#regular_name").val(),true)
            set_local("regular_number",$("#regular_number").val(),true)
           } else if (selectedValue === "other") {
            $("#regular_number").val("")
            $("#regular_name").val("")
            set_local("regular_name",$("#regular_name").val(""),true)
            set_local("regular_number",$("#regular_number").val(""),true)
            $("#select_regular").hide()
          //  $(".hide-think").hide()
               // Action for option2
               console.log("Option 2 selected",selectedValue);
               cust_type = "other"
           }
        })


        function updatePrice() {
          let price;
          let id = $('#menu0').val();
          {% for item in menu %}
              if ("{{ item.id }}" == id) {
                  price = "{{ item.price }}";
              }
          {% endfor %}
          $('#price0').val(price);
        }

        window.add_rm = function(key, ids) {
          let old_v = parseInt($(`#qty_val_${ids}`).val());
          let new_v;
          if (key === "add") {
            new_v = old_v + 1;
          } else if (key === "remove") {
            if(old_v > 1){
              new_v = old_v - 1;
            }else{
              return
            }

          }
          $(`#qty_val_${ids}`).val(new_v);
          copy[ids]["qty"] = new_v
          let new_pr = copy[ids]["price"] * new_v
          $(`#${ids}_price`).text(new_pr)
          let total_m = 0

          Object.keys(copy).map((key)=>{

            total_m += parseFloat(copy[key]["price"]) * parseFloat(copy[key]["qty"])
          })

          let tax_c = parseFloat("{{tax_.tax}}")

              let tax_m = (tax_c/100) * total_m

              total_m += tax_m

              let selectVal = $(`#${ids}`).text()
              let con_d = {"name":selectVal}
              con_d = {...copy[ids]}
              set_local(ids,con_d)

        };


        window.add_q = function(key) {

          let old_v = parseInt($(`#qty`).val());
          let new_v;
          if (key === "add") {
            new_v = old_v + 1;
          } else if (key === "remove") {
            if(old_v > 1){
              new_v = old_v - 1;
            }else{
              return
            }

          }
          $(`#qty`).val(new_v);

        };


        window.myFunction = function(ids){
          console.log("go...<<<")
          var $ids = $(ids);

          // Get the id attribute value using jQuery
          var idValue = $ids.attr('id');
          console.log("::::",copy,ids,idValue)
          total -= parseFloat(copy[ids]["price"]) * parseFloat(copy[ids]["qty"]);
          delete copy[ids];
          $(`#${ids}_del`).remove(); // Remove the corresponding row
          let kot_ = `kot_{{table_no}}`
          let table_n = localStorage.getItem(kot_)
          if(table_n){
            table_n = JSON.parse(table_n)
            console.log("copy",copy)
            table_n["item"] = {...copy}
            console.log(table_n,"kke")
            let convert_t = JSON.stringify(table_n)
            localStorage.setItem(kot_,convert_t)
          //  localStorage.setItem("{{table_no}}",convert_t)
          }

          let total_m = 0
          Object.keys(copy).map((key)=>{

            total_m += parseFloat(copy[key]["price"]) * parseFloat(copy[key]["qty"])
          })
          console.log("gtot..",total_m)

          let tax_c = parseFloat("{{tax_.tax}}")
            console.log("good.",tax_c)
              let tax_m = (tax_c/100) * total_m

              total_m += tax_m

        };

        // Initialize the select2 plugin
        $('#menu0').select2({
          placeholder: "Select an option",
          allowClear: true
        });

        $('#regular').select2({
          placeholder: "Select an option",
          allowClear: true
        });


        // Update price on change
        $('#menu0').change(function() {
          updatePrice();
        });

        $("#qty").change(function(){
          console.log("goo....")
          $("#error_qty").text("");
        })

        $("#discount").change(function(){

          console.log("goo....")
          $("#error_discount").text("");
        })


        function isFloat(n) {
          n = parseFloat(n);
          return !isNaN(n) && n % 1 !== 0;
      }

      const d = new Date();
  const formattedDate = formatDate(d);
  const formattedTime = formatTime(d);
        $('#add').click(function() {
            let selectVal =  $('#menu0').val();
            let price =  $('#price0').val();
            let qty =  $('#qty').val();


            if(!qty){
              $("#error_qty").text("Please Enter the QTY")
              return
            }
             if(qty <= 0){
              $("#error_qty").text("Please enter more than zero number.")
              return
            }
            console.log("qty...",qty,isFloat(qty))
            if(isFloat(qty)){

              $("#error_qty").text("Please enter only number.")
              return
            }
            let con_d = {"name":selectVal}


            let selectElement = document.getElementById('menu0');
            let selectedOption = selectElement.options[selectElement.selectedIndex];

            let selectedName = selectedOption.textContent;
            let selectedId = selectedOption.value;
            console.log("option..ie",selectedId,selectedOption)
            total += price * qty
            console.log("")
            if(!(selectedId in copy)){
              console.log("gooog..")
              copy[selectedId] = {"price":price, "qty":qty, "name":selectedName}
              $(".item-list").append(`
              <hr/>
              <div class="row mt-2" id="${selectedId}_del">
                <div class="col-md-3">
                  <p id="${selectedId}">${selectedName}</p>
                </div>
                <div class="col-md-3 col-6" style="display: flex;">
                  <span class="input-group-btn">
                    <button onclick="add_rm('remove', ${selectedId})" type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]" style="border-radius: 0px;width: 40px; margin-top: -6px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; height: 20px;">
                      <span class="glyphicon glyphicon-minus">-</span>
                    </button>
                  </span>
                  <input type="number" id="qty_val_${selectedId}" class="form-control input-number" value="${qty}" min="1" max="100" style="width: 55px; text-align:center; height: 20px; border-radius: 0px; border-left: none;">
                  <span class="input-group-btn">
                    <button onclick="add_rm('add', ${selectedId})" type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]" style="border-radius: 0px; width: 40px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; margin-top: -6px; height: 20px;">
                      <span class="glyphicon glyphicon-plus">+</span>
                    </button>
                  </span>
                </div>
                <div class="col-md-3 col-3">
                  <img style="width:20px;" class="delete-btn" onclick="myFunction(${selectedId})" src="{% static 'img/favicon/delete.png' %}"/>
                </div>
              </div>
            `)
               copy[selectedId] = {"price":parseFloat(price),"qty":parseInt(qty), "name":selectedName}
            }else{


              copy[selectedId]["qty"]  += parseInt(qty)
              copy[selectedId]["name"] = selectedName

              if("price" in copy[selectedId]){
                console.log("go...",selectedId)

                $(`#${selectedId}_price`).text(

                `${parseFloat(copy[selectedId]["price"])* parseFloat(copy[selectedId]["qty"]) }`

                )
                $(`#qty_val_${selectedId}`).val(copy[selectedId]["qty"])


              }

            }
            let total_m = 0
            console.log("copy>>",copy)
            Object.keys(copy).map((key)=>{

              total_m += parseFloat(copy[key]["price"]) * parseFloat(copy[key]["qty"])
            })
            console.log("gtot..",total_m)

            let tax_c = parseFloat("{{tax_.tax}}")
              console.log("good.",tax_c)
                let tax_m = (tax_c/100) * total_m

                total_m += tax_m



            con_d = {...copy[selectedId]}
            console.log("go...e,")
            set_local(selectedId,con_d)
          });

          $("#discount-confirm").click(function(){

            let val_di = $("#discount").val();
            if(!val_di){
              $("#error_discount").text("Please Enter the discount amount")
              return
            }

            document.getElementById("discount-add").style.display = "none";


             let inside_disc = ""
            if(val_di){
              let typ = $("#discount-type")

              if(typ.val() === "amount"){
                disc_am = val_di
              }else{
                disc_am = (val_di/100) * val_di

              }
              inside_disc = ` <div class="row">
                  <div class="col-md-4">
                      <p>Discount</p>
                  </div>
                  <div class="col-md-4">
                      <p>${disc_am}</p>
                  </div>
              </div>`
              total -= disc_am
              $("#grand-total").text(total)
              $("#disc").append(inside_disc)
            }

          })

          $("#add-discount").click(function(){
            document.getElementById("discount-add").style.display = "block";
          })

          $("#date").change(function(){
            console.log("goo....")
            $("#error_date").text("");
          })

          const itemList = $('.item-list');


          $('#confirm').click(function(){
            const itemList = $('.item-list');
              if (!(itemList.length && itemList.find('div').length)) {
                  return
              }

            $(".delete-btn").remove();
            $("#add").hide();
            $("#confirm").hide();
            let copy_total = total
            let tax = 0
            let tax_c = parseFloat("{{tax_.tax}}")
              console.log("good.",tax_c)
                tax = (tax_c/100) * total
                total += tax
          $("#hide").hide();
          $(".final-bill").hide();
          })


        // Update price on page load if there is a pre-selected option
        updatePrice();


        $("#regular_name").on("input",function(){
          set_local("regular_name",$("#regular_name").val(),true)
          console.log("g..e.",$("#regular_name").val())
          $("#error_name").text("")
        })

        $("#regular_number").on("input",function(){
          set_local("regular_number",$("#regular_number").val(),true)
          $("#error_number").text("")
        })

        if($("#regular")){
          $("#regular").change(function(){
            const selectedOption = $(this).find("option:selected");
            if (selectedOption.val() !== "add") {
              console.log("g..", selectedOption.data("name"));
              $("#regular_number").val(selectedOption.data("num"))
              $("#regular_name").val(selectedOption.data("name"))
            }else{
              $("#regular_number").val("")
              $("#regular_name").val("")
            }
          })
        }

        $("#clear").click(function(){
          let kot_ = `kot_{{table_no}}`
          localStorage.removeItem(kot_);
        })

        const updateItems = (dict1, dict2) =>{
          console.log("goo.d.d",dict1,dict2)
          // Iterate through each item in kk1
          for (const itemId in dict2.item) {
            if (dict2.item.hasOwnProperty(itemId)) {
              // Check if the item exists in kk
              if (dict1.item.hasOwnProperty(itemId)) {
                // If the item exists, add the quantities
                dict1.item[itemId].qty += dict2.item[itemId].qty;
              } else {
                // If the item does not exist, add it to kk
                dict1.item[itemId] = dict2.item[itemId];
              }
            }
          }
          return dict1;
        }

        let saveId
        $("#submit").click(function(){
          console.log("gccc",copy)
          if(selectedValue !=="other"){
            let con = true
            let val1 = $("#regular_name").val()
            let val2 = $("#regular_number").val()
            if(!(val1)){
              $("#error_name").text("Please enter name")
              con = false
            }
            if(!(val2)){
              $("#error_number").text("Please enter number")
              con = false
            }
            if (!(con)){
              return
            }
          }

          let total_k = 0
          let tax_val = parseFloat("{{tax_.tax}}")
          console.log("copy00>>>",copy_,copy)
          Object.keys(copy).map((ke)=>{
            copy_[copy[ke]["name"]] = copy[ke]
            copy_[copy[ke]["name"]]["id"] = ke
            total_k += parseFloat(copy[ke]["price"]) * parseFloat(copy[ke]["qty"])
            delete copy_[copy[ke]["name"]]["name"]

          })




          let tax_m = (tax_val/100) * total_k
          total_k += tax_m

          // Get values from form elements
          let table = $("#table").val(); // Assuming #table is an input element
          let date = $("#date").val(); // Assuming #date is an input element
          if(!date){
            $("#error_date").text("Please Enter Date")
            return
          }
          var isChecked = $("#check").is(":checked");

        // Assuming #tax is an input element
        const dt = new Date();
        const formattedTimeT = formatTime(dt);
          let send_dict = {
              "cafe": "{{ id }}", // Replace with actual value if dynamic
              "table": table,
              "time":formattedTimeT,
              "unpaid":isChecked,
              "date": date,
              "items": copy_, // Assuming copy is defined elsewhere
              "tax": tax_m,
              "discount": disc_am, // Assuming disc_am is defined elsewhere
              "total": total_k,
              "name":$("#regular_name").val(),
              "regular_name":$("#regular_name").val(),
              "mobile":$("#regular_number").val(),
              "cust_type":cust_type

          };

          let final = {"_method": "POST", "data": JSON.stringify(send_dict)};

          $.ajax({
              type: 'POST',
              headers: {
                  'X-HTTP-Method-Override': 'POST'
              },
              url: "{% url 'kot-add' %}",// Replace with actual URL
              data: final,
              beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Replace with actual CSRF token value
              },
              success: function(response) {
                saveId = response.id
                let date_v = $("#date").val()
                let name_v = $("#regular_name").val()
                $(".header").append(
                  `<div class="row md-3">
                    <div class="col-md-4">
                      <p>${date_v}<p>
                    </div>
                     <div class="col-md-4">
                      <p>${name_v}<p>
                    </div>
                  </div>`
                )

                $("#info_list").remove();
                $(".btn_list").remove();
                $("#head_sh").remove();
                $(".hide-think").hide();
                $(".custom").hide();
                $(".item-list").hide();
                $(".tax").hide();
                $(".go").show();
                $("#date_i").append(`Date: ${formattedDate}`)
                $("#time_i").append(`${formattedTime}`)
                console.log("go.e.e.{{table_no}}",copy_)
                let rep = "{{table_no}}".replace("Table-","")
                console.log("go.e.e.",rep,"{{table_no}}")
                $("#table_nn").append(`<b style="margin: 5px 0;">Roof Top-: ${rep}</b>`)

               $("subT").append(`
                  Total: <span style="float:right;">${total_k}</span>
               `)
               $("tax_val").append(`
                  Tax: <span style="float:right;">${tax_m}</span>
               `)
               $("#detail_b").append(`
               ${Object.keys(copy_).map((e) => {

                return `
               <div style="display: flex;justify-content: space-between;width: 100%;" class="bill-details">
                  <div style="width: calc(66.66% - 10px); float: left; margin-right: 10px; text-align: left;">${e}</div>
                  <div style="width: calc(16.66% - 10px); float: left; margin-right: 10px; text-align: center;">${copy_[e].qty}</div>
                </div>`

               }).join("")}
             `);

              document.getElementById("print-div").style.display = "block";


            if(response.msg !== undefined){
              $('#alertM').append(`<div class="alert alert2 alert-success" role="alert">${response.msg}</div>`)
            }
            else{
              $('#alertM').append(`<div class="alert alert2 alert-danger" role="alert">${response.error}</div>`)
            }


            setTimeout(function() {
              $('.alert2').fadeOut('slow', function() {
                  $(this).remove();
              });
             // location.reload();
          }, 3000);

              },
              error: function(xhr, textStatus, errorThrown) {
                const response = JSON.parse(xhr.responseText);
                if("error" in response){
                  $('#alertM').append(`<div class="alert alert-danger" role="alert">${response["error"]}</div>`)
                }else{
                  $('#alertM').append('<div class="alert alert-danger" role="alert">Please check this form again data not save</div>')
                }
                setTimeout(function() {
                  $('.alert').fadeOut('slow', function() {
                      $(this).remove();
                  });
              }, 3000);
              }
          });
          let checkT = localStorage.getItem("{{table_no}}")
          let old_get = JSON.parse(localStorage.getItem(`kot_{{table_no}}`))
          if(checkT){
            let par_  = JSON.parse(checkT)
            let update_t = JSON.stringify(updateItems(par_,old_get))
            console.log("e.e.",update_t)
            localStorage.setItem("{{table_no}}",update_t)
          }else{
            let store_ =  JSON.stringify(old_get)
            localStorage.setItem("{{table_no}}",store_)
          }
          let kot_ = `kot_{{table_no}}`
            localStorage.removeItem(kot_);

      });

      $('#print').click(function() {
        let final = {"_method": "POST"};
        event.preventDefault();
        $.ajax({
          type: 'POST',
          headers: {
              'X-HTTP-Method-Override': 'POST'
          },
          url: "{% url 'kot-add' %}" + "/" + saveId, // Replace with actual URL
          data: final,
          beforeSend: function(xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // Replace with actual CSRF token value
          },
          success: function(response) {

          },
          error: function(xhr, textStatus, errorThrown) {
            const response = JSON.parse(xhr.responseText);

          }
      });
        var content = document.getElementById("printT").innerHTML;

        // Create a new window
         var myWindow = window.open('', '', 'width=600,height=600');

        // // Write the content to the new window
        myWindow.document.write('<html><head><title>Print</title>');
         myWindow.document.write('<style>body{font-family: Arial, sans-serif;}</style></head><body >');
         myWindow.document.write(content);
        myWindow.document.write('</body></html>');

        // // Print the content
         myWindow.document.close();
         myWindow.focus();
         myWindow.print();
         let kot_ = `kot_{{table_no}}`
            localStorage.removeItem(kot_);
        // Create a new jsPDF instance
       /* event.preventDefault();
        var element = document.querySelector('.whole'); // Select the container to convert to PDF
        var opt = {
          margin:       1,
          filename:     'order.pdf',
          image:        { type: 'jpeg', quality: 0.98 },
          html2canvas:  { scale: 2 },
          jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // Start the PDF generation
        html2pdf().set(opt).from(element).save(); */

    });

      });



</script>
{% endblock page_js %}
