{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Kot View{% endblock %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Kot /</span> Kot View
</h4>

<!-- Basic Layout -->
<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div  class="col-md-4 ">
        <button id="print" class="btn btn-danger mb-3">Print</button>
      </div>
    </div>
    <div id="printT" style=" font-family: Arial, sans-serif;width: 350px;margin: 0 auto;text-align: center;" class="go">
      <img style="width:50%;  display: block;margin-left: auto;margin-right: auto;" src="{% static 'img/favicon/cafe_logo.png' %}"/>
      <hr style="border: 1px solid #000;">
      <div class="bill-details" style="display: flex;justify-content: space-between">
          <p style="margin: 5px 0;float:left;" id="date_i">{{order.sendDate}}</p>
          <p style="margin: 5px 0;float:right;" id="time_i">{{order.sendTime}}</p>
      </div>
      <div id="table_nn"></div>

      <hr style="border: 1px solid #000;">
      <div style="display: flex;justify-content: space-between;width: 100%;" class="bill-details">
        <p style="float:left;flex: 1;">Name</p>
        <p style="margin-left:220px;flex: 1;">QTY</p>
      </div>
      <div id="detail_b" class="bill-details">
        {% for item in kot_item %}
        <div style="display: flex;justify-content: space-between;width: 100%;" class="bill-details">
          <div style="width: calc(66.66% - 10px); float: left; margin-right: 10px; text-align: left;">{{item.name}}</div>
          <div style="width: calc(16.66% - 10px); float: left; margin-right: 50px;">{{item.qty}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block page_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.24/jspdf.plugin.autotable.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function(){
    console.log("print","{{print}}")
    let print = "{{print}}"
    console.log("pp..",print==="False")
    $('#print').click(function() {
      event.preventDefault();
      if(print === "False"){
        let url = window.location.href;
        let parts = url.split('/');
        let pk = parts[parts.length - 1];
        let final = {"_method": "POST"};
        console.log("ye.s")
        $.ajax({

          type: 'POST',
          headers: {
              'X-HTTP-Method-Override': 'POST'
          },
          url: "{% url 'kot-add' %}" + "/" + pk,
          data: final,
          beforeSend: function(xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
          },
          success: function(response) {
            localStorage.removeItem("{{table}}")
          },
          error: function(xhr, textStatus, errorThrown) {
            const response = JSON.parse(xhr.responseText);

          }
        });
      }


      var content = document.getElementById("printT").innerHTML;

      // Create a new window
       var myWindow = window.open('', '', 'width=600,height=600');

      // // Write the content to the new window
      myWindow.document.write('<html><head><title>Print</title>');
       myWindow.document.write('<style>body{font-family: Arial, sans-serif;}</style></head><body >');
       myWindow.document.write(content);
      myWindow.document.write('</body></html>');

      // // Print the content
       myWindow.document.close();
       myWindow.focus();
       myWindow.print();
          localStorage.removeItem("{{table_no}}");


  });

  })
</script>
{% endblock %}
